body {
    background-color: #000000;
    --p-color: #ffffff;
    --li-color: #ffffff;
}

h2{
  color: #02f3f3
}

h3{
  color: #08db0b
}

p{
  color: var(--p-color)
}

li{
  color: var(--li-color)
}

.light-mode{
  background-color: #ffffff;
  --p-color: #000000;
  --li-color: #000000;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
