body {
    background-color: #000000;
    --p-color: #ffffff;
    --li-color: #ffffff;
}

h2{
  color: #02f3f3
}

h3{
  color: #08db0b
}

p{
  color: var(--p-color)
}

li{
  color: var(--li-color)
}

#portrait{
  width: 300px;
  height: auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.section{
  flex: 1 1 300px;
  padding: 20px;
  border-radius: 10px;
}

.light-mode{
  background-color: #ffffff;
  --p-color: #000000;
  --li-color: #000000;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}
