/* Dark Mode Styling (Default) */
body {
    background-color: #000000;
    --p-color: #ffffff;
    --li-color: #ffffff;
}

/* Main Introduction Header on Home Page */
h1{
  color: #202ef3;
  font-size: 50px;
}

/* Section Headers */
h2{
  color: #02f3f3;
  font-size: 30px;
}

/* Subsection Headers */
h3{
  color: #08db0b;
  font-size: 25px;
}

/* Set paragraphs to update color with light and dark mode */
p{
  color: var(--p-color);
  font-size: 20px;
}

/* Set list entries to update color with light and dark mode */
li{
  color: var(--li-color);
  font-size: 20px;
}

/* Portrait of Riley Brotz on the home page */
#portrait{
  width: 300px;
  height: auto;
}

/* Flexbox Grid (Home and About Pages) */
.grid {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* Flexbox Grid for Skillset Sections on About Page */
#skillset{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* Element within grid */
.section{
  padding: 20px;
  border-radius: 10px;
}

/* Element within grid */
.subsection{
  padding: 20px;
  border-radius: 10px;
}

/* Flexbox grid for the nav bar */
.nav-grid{
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  width: 100%;
   gap: 20px;
}

/* Adds space between the Light/Dark Toggle and Download Resume buttons */
.nav-buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Light Mode Styling */
.light-mode{
  background-color: #ffffff;
  --p-color: #000000;
  --li-color: #000000;
}

/* Default CSS styling for the site layout */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

/* CSS Styling for Mobile View of the Site*/
@media (max-width: 700px){

  /* Center the portrait (Home Page) */
  #portrait-container{
    display: flex;
    justify-content: center;
  }

  /* Lists grid as a set of columns in mobile view (Home page)*/
  .grid{
    flex-direction: column-reverse;
    justify-items: center;
  }

  /* Lists grid as a set of columns in mobile view (About page)*/
  #about{
    flex-direction: column;
    justify-items: center;
  }
  
}

/* Styling for smaller view windows that are not mobile view */
@media (max-width: 1000px){

  /* Flexbox Grid for Skillset Sections on About Page */
  #skillset{
    flex-direction: column;
    justify-items: center;
  }

  /* Removes spacing between skillset lists to flow better when in column form */
  .subsection{
    padding: 0px;
    border-radius: 0px;
  }
}
